.box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#selectC{
    margin: 10px;
    height: 25px;
    border: none;
    border-radius: 10px;
    text-align: center;
}


