#mainB {
    min-height: 100vh;   
    width: 100%;         
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;      
}

.S {
    padding: 20px;
    width: 100%;
    max-width: 300px;  
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #171717;
}

.L {
    padding: 20px;
    width: 100%;
    max-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #171717;
}

input {
    width: 100%;
    max-width: 200px;
}