* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

#int {
  width: 120px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.login-btn {
  padding: 8px 14px;
  border: none;
  background: orange;
  cursor: pointer;
}

#Splace {
  padding: 8px 14px;
  border: none;
  background: rgb(198, 160, 89);
  cursor: pointer;
}

.desktop-auth {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-signup {
  display: none;
}


@media (max-width: 768px) {

  .header {
    padding: 12px 20px;
  }

  #DBook {
    display: none;
  }

  .mobile-signup {
    display: block;
  }

  .desktop-auth {
    display: none;
  }

  .signup-mobile {
    width: 100%;
    padding: 8px;
    background: orange;
    border: none;
  }

  /* Mobile Nav */
  .nav {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    height: 100vh;
    width: 220px;
    background: #222;
    padding: 20px;
    transition: all 0.3s ease;
  }

  .nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav.active {
    display: block;
  }

  .login-btn {
    display: none;
  }

  #int {
    width: 140px;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 770px) {
  #DBook {
    font-size: 13px;
  }
}